<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="'Trading platform | ' + ${site_domain}"></title>
    <link rel="icon" th:href="${site_icon}">
    <link rel="stylesheet" href="assets/css/root.min.css?v=2">
    <link rel="stylesheet" href="../assets/css/support-widget.css?v=1">
    <link rel="stylesheet" href="assets/css/toastr.css">
    <style>
        .top-ghTgp {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .info__stats {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
<header th:replace="~{fragments/profile-header.html :: header}"></header>
<link rel="stylesheet" type="text/css" href="assets/css/new_trading.css">
<link rel="stylesheet" type="text/css" href="assets/css/trade-bot.css">
<main>
    <div class="trade__container-ghTgp">
        <div class="trade__box-ghTgp">
            <div class="top-ghTgp info">
                <div class="info__container">
                    <div class="info__stats">
                        <div class="select step-form-coins-send" style="width: 138px;">
                            <div class="select__selected" style="background: transparent; border: 0px;">
                                <div class="select__img">
                                    <img th:src="${coins.get(0).icon}" alt="">
                                </div>
                                <div class="select__name" style="color: #d1d4dc;">
                                    <span th:text="${coins.get(0).symbol}"></span>
                                </div>

                                <div class="select__arrow">
                                    <svg width="12" height="12" viewbox="0 0 12 12" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.10156 9.45312C6.3125 9.66406 6.66406 9.66406 6.875 9.45312L11.4453 4.90625C11.6562 4.67188 11.6562 4.32031 11.4453 4.10938L10.9062 3.57031C10.6953 3.35938 10.3438 3.35938 10.1094 3.57031L6.5 7.17969L2.86719 3.57031C2.63281 3.35938 2.28125 3.35938 2.07031 3.57031L1.53125 4.10938C1.32031 4.32031 1.32031 4.67188 1.53125 4.90625L6.10156 9.45312Z"
                                              fill="#667085"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="select__menu">
                                <div th:each="coin: ${coins}" class="select__menu-item" th:data-coin-symbol="${coin.symbol}"
                                     onclick="sendCurrencySelect(this.getAttribute('data-coin-symbol'))">
                                    <div class="select__img">
                                        <img th:src="${coin.icon}" alt="">
                                    </div>
                                    <div class="select__name">
                                        <span th:text="${coin.symbol}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info__stats" style="display: inline-block;">Total assets - <span th:text="${total_usd_balance}"></span> USD</div>

                    <div class="info__stats">
                        <div class="select step-form-coins-receive" style="width: 138px;">
                            <div class="select__selected" style="background: transparent; border: 0px;">
                                <div class="select__img">
                                    <img th:src="${usdt.icon}" alt="">
                                </div>
                                <div class="select__name" style="color: #d1d4dc;">
                                    <span th:text="${usdt.symbol}"></span>
                                </div>

                                <div class="select__arrow">
                                    <svg width="12" height="12" viewbox="0 0 12 12" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.10156 9.45312C6.3125 9.66406 6.66406 9.66406 6.875 9.45312L11.4453 4.90625C11.6562 4.67188 11.6562 4.32031 11.4453 4.10938L10.9062 3.57031C10.6953 3.35938 10.3438 3.35938 10.1094 3.57031L6.5 7.17969L2.86719 3.57031C2.63281 3.35938 2.28125 3.35938 2.07031 3.57031L1.53125 4.10938C1.32031 4.32031 1.32031 4.67188 1.53125 4.90625L6.10156 9.45312Z"
                                              fill="#667085"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="select__menu">

                                <div th:each="coin: ${coins}" class="select__menu-item" th:data-coin-symbol="${coin.symbol}"
                                     onclick="getCurrencySelect(this.getAttribute('data-coin-symbol'))">
                                    <div class="select__img">
                                        <img th:src="${coin.icon}" alt="">
                                    </div>
                                    <div class="select__name">
                                        <span th:text="${coin.symbol}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-ghTgp coins">
                <div class="book__title">
                    Order Book
                </div>
                <div class="coins__names">
                    <div class="coins__names-item coins__names-currency">
                        Currency
                    </div>
                    <div class="coins__names-item coins__names-last">
                        Last
                    </div>
                    <div class="coins__names-item coins__names-change">
                        Change
                    </div>
                </div>
                <div class="coins__items">
                    <div class="coins__items-wrapper">
                        <th:block th:each="coin: ${coins}">
                            <a th:unless="${coin.isStable()}" class="coins__item" th:href="'trading?currency=' + ${coin.symbol}">
                                <div class="coins__item-currency">
                                    <div class="coins__item-icon">
                                        <img th:src="${coin.icon}" alt="" style="width: 20px !important">
                                    </div>
                                    <span th:text="${coin.symbol}"></span><th:block th:text="'/' + ${usdt.symbol}"></th:block>
                                </div>
                                <div class="coins__item-last" th:text="${coin.symbol}"></div>
                                <div class="coins__item-change" th:text="${coin.symbol}"></div>
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="center-top-ghTgp" id="tvchart">
                <div class="loader-div" style="text-align: center; justify-content: center;">
                    <img class="loader" src="../assets/img/trade-bot/loader.gif" alt="Loader">
                </div>
                <div class="loader-buttons">
                    <div class="order_btn-fbGht order_btn-fbGht-buy" id="start-btn">Start</div>
                    <div class="order_btn-fbGht order_btn-fbGht-sell" id="stop-btn">Stop</div>
                </div>
                <div class="loader-info">
                    <p>Status: <span class="status border-gradient">STARTED</span></p>
                    <p>Total work: <span class="total-work border-gradient">7d.13h.24m</span></p>
                    <p>Total profit: <span class="profit border-gradient">1747$</span></p>
                </div>
            </div>
            <div class="right-top-ghTgp coins">
                <div class="book__title">
                    Order Book
                </div>
                <div class="coins__names">
                    <div class="coins__names-item coins__names-currency">
                        Currency
                    </div>
                    <div class="coins__names-item coins__names-last">
                        Last
                    </div>
                    <div class="coins__names-item coins__names-change">
                        Change
                    </div>
                </div>
                <div class="coins__items">
                    <div class="coins__items-wrapper">
                        <th:block th:each="coin: ${coins}">
                            <a th:unless="${coin.isStable()}" class="coins__item" >
                                <div class="coins__item-currency">
                                    <div class="coins__item-icon">
                                        <img th:src="${coin.icon}" alt="" style="width: 20px !important">
                                    </div>
                                    <span th:text="${coin.symbol}"></span><th:block th:text="'/' + ${usdt.symbol}"></th:block>
                                </div>
                                <div class="coins__item-last">2354235</div>
                                <div class="coins__item-change">2345</div>
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="orders-list">
        <div class="button__container" id="orders">
            <div class="rushButton buttonActiveNew" id="ordersBtnOne">
                My Open Orders
            </div>
            <div class="rushButton" id="ordersBtnTwo">
                My Trading History
            </div>
        </div>
        <div class="orders_content__container tabsBoxOne">
            <div class="content__container-item tabsBoxOne itemActiveNew" id="ordersConOne">
                <div class="orders__table">
                    <div class="orders__names">
                        <div class="orders__names-item orders__names-date">
                            Date
                        </div>
                        <div class="orders__names-item orders__names-pair">
                            Pair
                        </div>
                        <div class="orders__names-item orders__names-side">
                            Side
                        </div>
                        <div class="orders__names-item orders__names-type">
                            Type
                        </div>
                        <div class="orders__names-item orders__names-amount">
                            Amount
                        </div>
                        <div class="orders__names-item orders__names-amount">
                            Price
                        </div>
                        <div class="orders__names-item orders__names-cancel">
                        </div>
                    </div>
                    <div class="orders__items" id="orders_table"><div class="orders_noHis" style="margin: auto; text-align: center; margin-top: 100px;">No open orders</div>
                    </div>
                </div>
            </div>
            <div class="content__container-item tabsBoxOne" id="ordersConTwo">
                <div class="orders__table">
                    <div class="orders__names">
                        <div class="orders__names-item orders__names-date">
                            Date
                        </div>
                        <div class="orders__names-item orders__names-pair">
                            Pair
                        </div>
                        <div class="orders__names-item orders__names-side">
                            Side
                        </div>
                        <div class="orders__names-item orders__names-type">
                            Type
                        </div>
                        <div class="orders__names-item orders__names-amount">
                            Amount
                        </div>
                        <div class="orders__names-item orders__names-price">
                            Price
                        </div>
                        <div class="orders__names-item orders__names-status">
                            Status
                        </div>
                        <div class="orders__names-item orders__names-cancel">
                        </div>
                    </div>
                    <div class="orders__items" id="orders_history"><div class="orders_noHis" style="margin: auto; text-align: center; margin-top: 100px;">No historical orders</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
<script src="../assets/js/jquery-3.4.1.min.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/js/toastr.js"></script>
<script src="../assets/js/newnoti.js"></script>
<script src="../assets/js/error-modal.js?v=4"></script>
<script src="../assets/js/swap.min.js"></script>